@mixin antdButton {
  > span {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
  }
  &::before {
    content: '';
    background: #f80864;
    position: absolute;
    inset: -1px;
    opacity: 1;
    transition: all 0.2s ease;
    border-radius: inherit;
  }
  &:hover::before {
    background: #ae0741;
  }
}