.gifts {
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 40px;
   //background: #9a9999;
   //background: #bdbaba;
}
